{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% trans 'META_DESCRIPTION' %}">

    <title>{% trans 'SITE_TITLE' %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'face/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'face/css/agency.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'face/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">KirApps</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{% trans 'SERVICES_NAV' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{% trans 'PORTFOLIO_NAV' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#process">{% trans 'PROCESS_NAV' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">{% trans 'TEAM_NAV' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% trans 'CONTACT_NAV' %}</a>
                    </li>
                    <li class="languages dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans 'LANGUAGES_NAV' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% get_available_languages as languages %}
                            {% for lang_code, lang_name in languages %}
                                {% language lang_code %}
                                    <li {% if lang_code == LANGUAGE_CODE %}class='selected'{% endif %}
                                    ><a href="{% url 'face:index_page' %}">{{ lang_code|language_name_local }}</a></li>
                                {% endlanguage %}
                          {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="3d-cube-parent-container">
        <div class="cube-3d" id="3d-cube-container"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{% trans 'SUBHEADER_JUMBOTRON' %}</div>
                <div class="intro-heading">{% trans 'HEADER_JUMBOTRON' %}</div>
                <a href="#services" class="page-scroll btn btn-xl">{% trans 'MORE_BUTTON_JUMBOTRON' %}</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'SERVICES_HEADER' %}</h2>
                    <h3 class="section-subheading text-muted">{% trans 'SERVICES_SUBHEADER' %}</h3>
                </div>
            </div>
            <div class="row text-center">
                {% for service in services %}
                    <div class="col-md-4">
                        <a href="#service_modal_{{ service.pk }}" class="portfolio-link" data-toggle="modal">
                            {{ service.html_tag_for_picture|safe }}
                            <h4 class="service-heading">{{ service.name }}</h4>
                        </a>
                        <p class="text-muted">{{ service.snippet }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'PORTFOLIO_HEADER' %}</h2>
                    <h3 class="section-subheading text-muted">{% trans 'PORTFOLIO_SUB_HEADER' %}</h3>
                </div>
            </div>
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal_{{ project.pk }}" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            {% thumbnail project.picture 400x289 crop as project_thumb %}
                            <img src="{{ project_thumb.url }}" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ project.name }}</h4>
                            <p class="text-muted">{{ project.snippet }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Process Section -->
    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'PROCESS_HEADER' %}</h2>
                    <h3 class="section-subheading text-muted">{% trans 'PROCESS_SUBHEADER' %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for stage in development_stages %}
                            <li {% cycle '' 'class="timeline-inverted"' %}>
                                <div class="timeline-image">
                                    {% thumbnail stage.picture 200x200 crop as stage_thumb %}
                                    <img class="img-circle img-responsive" src="{{ stage_thumb.url }}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ stage.name }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{ stage.text }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li>
                            <div class="timeline-image">
                                <h4><br />{% trans 'SUCCESS_STAGE' %}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'TEAM_HEADER' %}</h2>
                    <h3 class="section-subheading text-muted">{% trans 'TEAM_SUBHEADER' %}</h3>
                </div>
            </div>
            <div class="row">
                {% for member in team_members %}
                    <div class="col-sm-4">
                        <div class="team-member">
                            {% thumbnail member.picture 255x255 crop as member_thumb %}
                            <img src="{{ member_thumb.url }}" class="img-responsive img-circle" alt="">
                            <h4>{{ member.name }}</h4>
                            <p class="text-muted">{{ member.role }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">{% trans 'TEAM_TEXT' %}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'CONTACT_HEADER' %}</h2>
                    <h3 class="section-subheading text-muted">{% trans 'CONTACT_SUBHEADER' %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate action="/">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="{% trans 'NAME_PLACEHOLDER' %}"
                                        id="name" required data-validation-required-message="{% trans 'NAME_REQUIRED_ERROR' %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="{% trans 'EMAIL_PLACEHOLDER' %}"
                                        id="email" required data-validation-required-message="{% trans 'EMAIL_REQUIRED_ERROR' %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="{% trans 'PHONE_PLACEHOLDER' %}"
                                        id="phone" required data-validation-required-message="{% trans 'PHONE_REQUIRED_ERROR' %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="{% trans 'MESSAGE_PLACEHOLDER' %}" id="message"
                                        required data-validation-required-message="{% trans 'MESSAGE_REQUIRED_ERROR' %}"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">{% trans 'SEND_MESSAGE_BUTTON' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">{% blocktrans with year=year %}COPYRIGHT {{ year }}{% endblocktrans %}</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    {% for project in projects %}
        <div class="portfolio-modal modal fade" id="portfolioModal_{{ project.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{ project.name }}</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="{{ project.picture.url }}" alt="">
                                <p>
                                    {{ project.description }}
                                </p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {% trans 'CLOSE_PROJECT_BUTTON' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for service in services %}
        <div class="portfolio-modal modal fade" id="service_modal_{{ service.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{ service.name }}</h2>
                                <p class="item-intro text-muted">{{ service.snippet }}</p>
                                <p>
                                    {{ service.description }}
                                </p>
                                <h3>{% trans 'SERVICE_TECHNOLOGIES_HEADER' %}</h3>
                                <div class="row text-center">
                                    <div class="col-md-4 technologies">
                                        <h6>{% trans 'SERVICE_PROGRAMMING_LANGUAGES_HEADER' %}</h6>
                                        {% for lang in service.programming_languages.all %}
                                            <p>
                                                <img src="{{ lang.image.url }}" alt="">
                                                {{ lang.name }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-4 technologies">
                                        <h6>{% trans 'SERVICE_PROGRAMMING_FRAMEWORKS_HEADER' %}</h6>
                                        {% for framework in service.programming_frameworks.all %}
                                            <p>
                                                <img src="{{ framework.image.url }}" alt="">
                                                {{ framework.name }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-4 technologies">
                                        <h6>{% trans 'SERVICE_PROGRAMMING_TOOLS_HEADER' %}</h6>
                                        {% for tool in service.programming_tools.all %}
                                            <p>
                                                <img src="{{ tool.image.url }}" alt="">
                                                {{ tool.name }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <br>
                                <br>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {% trans 'CLOSE_SERVICE_BUTTON' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- jQuery -->
    <script src="{% static 'face/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'face/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'face/js/classie.js' %}"></script>
    <script src="{% static 'face/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'face/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'face/js/contact_me.js' %}"></script>

    <!-- 3D Cube -->
    <script src="{% static 'face/js/threejs/three.min.js' %}"></script>
    <script src="{% static 'face/js/threejs/Projector.js' %}"></script>
    <script src="{% static 'face/js/threejs/CanvasRenderer.js' %}"></script>
    <script src="{% static 'face/js/threejs/hilbert3D.js' %}"></script>
    <script src="{% static 'face/js/threejs/Detector.js' %}"></script>
    <script src="{% static 'face/js/3d_cube.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'face/js/agency.js' %}"></script>

</body>

</html>
